.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
   
}
input{
    padding: 8px 10px ;
    font-size: 22px;
    border-radius: 5px ;
    border-color: blueviolet;

} 
button{
    margin-left: 10px;
    font-size: 22px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: white;
}
hr{
    
}
body{
    width: 400px;
    margin: 10px auto;
}
.list{
    flex: 1;
    margin-left: 10px;
}
.text_list{
    display: flex;
    justify-content: space-between;
    font-size: 18px;    
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}
.list__item_checked {
    background-color: oldlace;
}